<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ahi.tugas3.osg8.tugas3_osg8_ahi">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
